.idea/

project/project/
project/target/

target/.history
target/streams/
target/scala-2.12/classes/*
!target/scala-2.12/classes/index-opt.html
target/scala-2.12/resolution-cache/
target/scala-2.12/*.js
target/scala-2.12/*.map
!target/scala-2.12/scala-js-vocab-search-jsdeps.min.js
!target/scala-2.12/scala-js-vocab-search-opt.js
!target/scala-2.12/scala-js-vocab-search-opt.js.map

node_modules/
package-lock.json
